aside {
    .profile-img-wrapper {
        text-align: center;
        width: 100px; height: 100px;
        overflow: hidden;
        border-radius: 50%;
        margin: auto;

        img {
            width: 100%;
            transform: scale(1.5);
        }
    }

    .profile-name {
        font-size: 1.3rem;
        font-weight: $font-weight-semibold;
        text-align: center;
        line-height: 30px;
    }

    .profile-designation {
        padding: 5px 25px;
        font-size: 0.9rem;
        line-height: 20px;
        font-weight: $font-weight-medium;
        margin-bottom: 10px;
    }

    .social-links {
        margin-bottom: 1rem;
        text-align: center;

        .social-link {
            display: inline-block;
            font-size: 1rem;
            line-height: 1;
            color: $primary;
            text-align: center;
            background-color: $white;
            padding: 8px;
            width: 28px;
            height: 28px;
            border-radius: 50%;
            margin-right: 4px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .widget {
        text-align: center;
        margin-bottom: 28px;
        .widget-title {
            font-size: 1.1rem;
            font-weight: $font-weight-medium;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
        .widget-content {
            font-size: 0.9rem;
            p{
                margin-bottom: 5px;

                &:last-of-type {
                    margin-bottom: 10px;
                }
            }
        }

        &.card {
            border: 0;
            border-radius: 10px;
            box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.08);

            .widget-title {
                color: $primary;
            }
        }
    }

    @media(max-width: 767px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* two equal columns */
        grid-template-rows: repeat(2, auto);    /* two rows with height based on content */
        gap: 10px; /* optional gap between grid items */
    }
}