header {
    display: flex;
    padding-left: 240px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: transparent;
    z-index: 1000;
}
.collapsible-nav {
    display: flex;
    align-items: center;
    width: 0px;
    overflow: hidden;
    margin-right: 10px;
    transition: width 0.6s ease-in-out;

    &.show {
        width: 234px;
    }

    @media(max-width: 991px) {
        position: fixed;
        right: 0;
        overflow: auto;
        top: 71px;
        justify-content: flex-end;
        gap:10px;
        margin-right: 0;
        padding-left: 24px;
        padding-right: 24px;
        width: 200px;
        transform: translateX(100%);
        transition: transform 0.4s ease-in-out, width 0s;

        &.show {
            transform: translateX(0%);
            width: 234px;
        }
    }

    .nav-link {
        font-size: 0.9rem;
        font-weight: $font-weight-semibold;
        color: $black;
        text-transform: uppercase;
        padding: 2px 0;
        height: 24px;
        margin: 0 15px;

        @media(max-width: 991px) {
            margin: 15px 0;
            height: auto;
        }

        &.active {
            color: $primary;
            border-bottom: 2px solid $primary;
            padding-bottom: 0;
        }
    }
}
.scroll-indicator{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    width: 100%;
    height: 8px;
    background: transparent;
    .scroll-indicator-bar {
        height: 8px;
        background: $primary;
        width: 0%;
    }
}