@import "./variables";

@import "../bootstrap/scss/bootstrap.scss";
@import "../@fortawesome/fontawesome-free/scss/fontawesome.scss";

//Partials

@import "./partialas/aside";
@import "./partialas/buttons";
@import "./partialas/header";
@import "./partialas/layout";
@import "./partialas/main";